
/* old style for user start*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /* width: 400px; */
  max-width: 100%;
  max-width: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.form-actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.form-actions button[type="button"] {
  background-color: #f44336;
  color: white;
}

.user_id {
  margin-right: auto;
}
/* old style for user end */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.manage_dealer_form.waba_form .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 700px;
  max-width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-actions {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.form-actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions button[type="submit"] {
  background-color: #00acc1;
  color: white;
}

.form-actions button[type="submit"]:hover {
  background-color: #037585;
}

.form-actions button[type="button"] {
  background-color: #dc3545;
  color: white;
}

.form-actions button[type="button"]:hover {
  background-color: #9e0c1b;
}

.user_id {
  margin-right: auto;
  position: absolute;
  left: 10px;
}

.manage_dealer_form.waba_form .modal-header {
  display: initial;
}

.manage_dealer_form.waba_form .modal-header .modal-title {
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  flex: 1;
}

.form-group.bussiness_num {
  max-width: 49%;
}

.form-label {
  margin-right: 10px;
}

.input-field {
  flex: 1;
  margin-right: 10px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.check-button {
  padding: 8px 12px;
  background-color: #00acc1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.check-button:hover {
  background-color: #038091;
}

.error-msg {
  color: red;
  margin-left: 2px;
  font-size: 0.9em;
  position: absolute;
  bottom: -23px;

}

button.check-button {
  position: absolute;
  right: 0;
  top: 32px;
}

.manage_dealer_form .modal-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 10px;
  margin-bottom: 10px;
}

p.fill_note {
  font-weight: bold;
  color: #054c97;
  margin-bottom: 10px;
}

.form-actions.button_btn_submit {
  margin-top: 10px;
}

@media (max-width: 992px) {

  .form-group.bussiness_num {
    max-width: 100%;
  }
}
